
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 
	.d-none
		+form-wrap()(id="modal-call" class="  modal-win modal-form" )
			.text-center
				+e.title.h3.ttu Обратный звонок
				p Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течении 15&nbsp;минут
			+input("Ваше Имя")(required) 
			+input("Ваш телефон","tel")(required)
			//- +input("email","Ваше email")(required)
			//- +text( "Комментарий")
			+e.INPUT.btn(type="submit" value="Рассчитать") 
			+polite()

			// #modal-call


		+b.modal-one-click.modal(id="modal-one-click")
			//- +pic('modal-clean-img','jpg','','')
			+form-wrap()
				+e.title Оформить заказ
				+input("Ваше Имя")(required) 
				+input("Ваш телефон","tel")(required)
				+e.BUTTON.btn Заказать

		// #modal-one-click


		+b.modal-registration.modal(id="modal-registration")
			//- +pic('modal-clean-img','jpg','','')
			+form-wrap()
				+e.title Регистрация
				+e.input-wrap.row
					.col-md-6
						+input("E-mail","email")(required)
						+input("Пароль")(required)
						+input("Повторите пароль")(required)
					.col-md-6
						+input("Фамилия")(required)
						+input("Имя")(required)
						+input("Отчество")(required)
				+e.BUTTON.btn Зарегистрироваться
				+e.A.entrance(href="#") Войти
				+e.polite Нажимая на кнопку "Зарегистрироваться" вы соглашаетесь на обработку персональных данных в соответствии с <a href="#">Офертой</a> и <a href="#">Политикой конфиденциальности</a>

		// #modal-entrance

		+b.modal-entrance.modal(id="modal-entrance")
			//- +pic('modal-clean-img','jpg','','')
			+form-wrap()
				+e.title Войти в личный кабинет
				+input("Логин")(required) 
				+input("Пароль")(required)
				+e.BUTTON.btn Войти
			+e.identity
				+e.A.remind(href="#") Забыли пароль?
				+e.A.reg(href="#") Регистрация

		// #modal-entrance


	// modal