mixin s-articles()
	// start s-articles
	+b.s-articles.section#s-articles&attributes(attributes)
		h3 Выбор товара и добавление в корзину
		h4 Чтобы оформить заказ на&nbsp;интересующее Вас товарное предложение необходимо<br>выполнить простую последовательность действий:
		ul
			li Зайдите в&nbsp;каталог товаров интернет-магазина в&nbsp;главном меню.
			li Перемещаясь по&nbsp;ссылкам, ведущим в&nbsp;те&nbsp;или иные товарные секции, выберите из&nbsp;них интересующую Вас категорию товаров.
			li В&nbsp;правой части страницы находится конфигуратор, при помощи которого можно производить удобный подбор товара по&nbsp;цене и&nbsp;интересующим Вас характеристикам товара. Так&nbsp;же Вы&nbsp;можете воспользоваться выпадающим фильтром, находящимся над списком товарных предложений, для быстрой сортировки предложений по&nbsp;популярности, цене и&nbsp;названию.
			li Для добавления товара в&nbsp;корзину, воспользуйтесь кнопкой &laquo;Добавить в&nbsp;корзину&raquo;.
			li Для быстрого заказ товара без регистрации воспользуйтесь кнопкой &laquo;Купить в&nbsp;один клик&raquo;. После появления всплывающего окна, нужно ввести свой контактный телефон и&nbsp;нажать на&nbsp;кнопку &laquo;Я&nbsp;жду звонка менеджера&raquo;. В&nbsp;ближайшее время наш специалист перезвонит Вам. Если Вы&nbsp;ранее регистрировались на&nbsp;сайте в&nbsp;качестве клиента, то&nbsp;поле телефон уже будет заполнено автоматически.
		h3 Товарная корзина интернет-магазина
		h4 На&nbsp;странице интернет-магазина &laquo;Корзина&raquo;, у&nbsp;Вас есть возможность:
		ul
			li Изменить количество заказываемого товара кнопками со&nbsp;стрелками увеличения и&nbsp;уменьшения количества. Сумма товаров, а&nbsp;также общая сумма заказа будет пересчитана автоматически.
			li Удалить заказ&nbsp;&mdash; для этого необходимо нажать кнопку &laquo;Удалить из&nbsp;корзины&raquo;. Товарное предложение будет удалено из списка.
			li Очистить корзину полностью, для этого требуется воспользоваться кнопкой &laquo;Очистить корзину&raquo;.
			li Оформить заказ, для этого надо нажать на&nbsp;кнопку &laquo;Оформить заказ&raquo;, будет осуществлён переход на&nbsp;страницу оформления заказа.
		h3 Процесс оформления заказа
		h4 Процесс оформления заказа имеет два варианта в&nbsp;зависимости от&nbsp;того первый раз вы&nbsp;заказываете товар или нет.
		p Если Вы&nbsp;ранее не&nbsp;были клиентом нашего магазина, то&nbsp;при нажатии на&nbsp;кнопку &laquo;Оформить заказ&raquo; система предложит Вам пройти быструю регистрацию или авторизоваться через социальные сети.
		h3 Процедура регистрации и авторизации
		h4 Процедура регистрации очень проста. Вам требуется ввести свою электронную почту и&nbsp;мобильный телефон и&nbsp;нажать кнопку &laquo;Продолжить и&nbsp;войти в&nbsp;корзину&raquo; система автоматически создаст пользователя и&nbsp;на&nbsp;указанный Вами электронный адрес Вам придут Ваши учётные данные.
		blockquote Внимание&nbsp;&mdash; указывайте свои настоящие учётные данные, иначе наш менеджер не&nbsp;сможет связаться с&nbsp;Вами! Свои учётные данные&nbsp;Вы сможете изменить в&nbsp;личном кабинете.
		h3 Оформление заказа
		h4 На&nbsp;странице оформление заказа заполните все обязательные поля, в&nbsp;разделах &laquo;Информация о&nbsp;получателе&raquo; и&nbsp;&laquo;Адрес доставки&raquo;, а&nbsp;также выберите &laquo;Способ доставки&raquo;. Cистема автоматически пересчитает заказ с&nbsp;учётом доставки..
		blockquote Подробнее о&nbsp;способах и&nbsp;стоимости доставки читайте в&nbsp;разделе #[a(href="") &laquo;Доставка&raquo;]
		p Подтвердите свой заказ нажав на&nbsp;кнопку &laquo;Подтвердить данные и&nbsp;оформить заказ&raquo;. На&nbsp;электронную почту Вам придёт письмо с&nbsp;деталями вашего заказа, а&nbsp;в&nbsp;личном кабинете в&nbsp;разделе &laquo;Список заказов&raquo; Вы&nbsp;сможете отслеживать статус своего заказа.

	// end s-articles