// start .s-basket
.basket-item {
	td {
		padding-top: rem(28);
		padding-bottom: rem(30);
		font-weight: bold;
		&:nth-child(1) {
		}
		&:nth-child(n + 3) {
			text-align: right;
			@include media-breakpoint-up(md){

				font-size: rem(20);
			}
			font-size: rem(17);
			font-weight: bold;
		}
	}

	span {
		display: inline-block;
		text-align: center;
		max-width: rem(220);
		// padding-top: rem(15);
		vertical-align: middle;
		line-height: rem(20);
		@include media-breakpoint-up(lg) {
			padding-left: rem(25);
		}
	}

	img {
		max-width: rem(120);
	}

	.quantity {
		border-radius: rem(150);
		display: flex;
		justify-content: center;
		background-color: #f2f2f2;

		input {
			max-width: rem(10);
			@include media-breakpoint-up(md){
				max-width: rem(30);
			}
			// margin-left: rem(5);
			// margin-right: rem(5);
			text-align: center;
			background-color: transparent;
			border: none;
			color: #4d4d4d;
			&:focus {
				box-shadow: none;
			}
		}

		button {
			border-radius: 50%;
			border: none;
			width: rem(40);
			height: rem(40);
			position: relative;
			font-weight: 700;
			@include mt;
			&:focus {
				outline: none;
			}

			&:hover {
				opacity: 0.5;
			}
			&::after,
			&::before {
				content: '';
				position: absolute;
				left: 40%;
				top: 50%;
				width: rem(11);
				height: rem(3);
				background-color: #9fa3a7;
			}

			&::before {
				transform: rotate(90deg);
			}
			&:nth-child(1) {
				&::before {
					display: none;
				}
			}
		}
	}

	.remove {
		position: relative;
		// width: rem(16.3);
		height: rem(16.3);
		border: none;
		background-color: transparent;
		// margin-left: rem(30);
		@include mt;
		&:hover {
			opacity: 0.4;
		}
		&::after,
		&::before {
			content: '';
			position: absolute;
			background-color: #000;
			width: 1px;
			height: rem(16.3);
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			transform: rotate(45deg);
		}
		&::before {
			transform: rotate(-45deg);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.s-basket
