mixin s-aside()
	// start s-aside
	+b.s-aside.section#s-aside&attributes(attributes)
		+e.title Полезные статьи
		ul
			li: a.active(href="#") Как сделать покупку
			li: a(href="#") Оплата 
			li: a(href="#") Вопрос-ответ
			li: a(href="#") О компании
			li: a(href="#") Возврат и замена товара
			li: a(href="#") Доставка 
			li: a(href="#") Гарантии
	// end s-aside