mixin s-search-article()
	// start s-search-article
	+b.SECTION.s-search-article.section#s-search-article&attributes(attributes)
		.container
			h2 СЕО Статья для этой категории
			p Мобильные телефоны уже давно являются неотъемлемой частью нашего обехода. Сегодня трудно представить себе человека, который&nbsp;бы не&nbsp;пользовался услугами сотовой связи, даже пожилые люди, с&nbsp;трудом привыкающие к&nbsp;новинкам, успели оценить, насколько удобно иметь собственный мобильный телефон. Для многих мобильный телефон стал не&nbsp;просто средством связи, но&nbsp;и&nbsp;возможностью подчеркнуть свой имидж, одним своим видом дорогой мобильник может многое рассказать о&nbsp;стиле жизни хозяина, подчеркнет его статус.
			p У&nbsp;нас всегда обширный ассортимент, нашем каталоге&nbsp;Вы найдёте большое количество смарфонов и&nbsp;мобильных телефонов по&nbsp;вашему вкусу, выбрать бюджетные или популярные модели, новинки, недавно поступившие на&nbsp;рынок. Наш ассортимент рассчитан для любых слоев потребителей.
			+e.btn.A(href="#") Узнать больше
	// end s-search-article